Updated city name to <%= person.city%>
<br>
Updated phonenumber to <%= person.phonenumber%>
<br>
Updated website to <%= person.website%>
<br>
Updated about to <%= person.about%>
<br>
<br><a href='/create'>Add New Record</a>
<br><a href='/all'>Show All</a>